#roleField {
    height: 45vh;
    overflow: auto;
}

.pill {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 0.875em;
    background-color: #207491;
    color: white;
    border-radius: 9999px; /* fully rounded corners */
    cursor: default;
    white-space: nowrap;
}

.pill:hover {
    opacity: 0.8;
}

.table-container{
    margin: 5px;
    padding: 5px;

}


thead {
    background: white;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }

th, td {
    text-align: center;
}

#data-table-container {
    display: flex;
    justify-content: center;
}

table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

h1 {
    margin-bottom: 3rem;
}

li {
    list-style: none;
}

nav ul {
    margin-top: 1rem !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


#export-button {
    display: none;
}
.fa-2xs {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

th {
    position: relative;
}
