#weight-button input {
    width: 50%;
}

#weight-button {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#roleField {
    height: 45vh;
    overflow: auto;
}

.pill {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.5em;
    font-size: 0.875em;
    background-color: #207491;
    color: white;
    border-radius: 9999px; /* fully rounded corners */
    cursor: default;
    white-space: nowrap;
}

.pill:hover {
    opacity: 0.8;
}
