<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FM24 Player Recruitment</title>
  <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
</head>
<body>
  <main>
    <div class="container">
      <h1>FM24 Player recruitment Using Python</h1>
      <p>
        Based on <a href="https://www.youtube.com/watch?v=hnAuOakqR90" target="_blank">this video</a>
        by <a href="https://twitter.com/playingsquirrel" target="_blank">squirrel_plays</a>.
        Values in brackets <code>(afa)</code> are what will be shown in the returned table.
      </p>
      <form method="POST" enctype="multipart/form-data" action="/upload">
        <input class="form-control" type="file" name="file">
        <hr>
        <figure>
          <p>Select Roles to Display: (8 Max) - <span id="roleCount">0</span> / 8 Selected</p>
          <div id="selected-roles">
  
          </div>
        </figure>
        <details role="list">
          <summary aria-haspopup="listbox">Select Player Roles</summary>
          <ul role="listbox" id="roleField">
            {% for function_name, values in function_names.items() %}
            <li>
                <label>
                    <input class="form-check-input" type="checkbox" name="{{ values.1 }}" value="{{ function_name }}"
                           {% if values.1 in selected_options %} checked {% endif %}>
                    {{ values.0 }} ({{ values.1 }})
                </label>
            </li>
            {% endfor %}
        </ul>        
        </details>
        <hr>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <input class="btn btn-primary" type="submit" value="Upload">
      </form>
      <hr>
    </div>
    <div class="wrapper">
      <figure>
        <div id="data-table-container">
        </div>
      </figure> 
    </div>
  </main>
  <script
    src="{{ url_for('static', filename='js/script.js')}}" defer></script>
  <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
    crossorigin="anonymous">
  </script>
  <script src="https://kit.fontawesome.com/346432df9f.js" crossorigin="anonymous"></script>
</body>
</html>